* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.contenedor {
	display: inline-block;
}

.contenedor div {
	display: inline-block;
	padding: 5px;
	margin: 10px 5px;
}

.yellow {
	background-color: yellow;
}

.pink {
	background-color: #e92974;
	border: none;
}
