* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.contenedor {
	display: inline-block;
}

.contenedor div {
	width: 180px;
	height: 60px;
	padding: 5px;
	margin: 20px;
}

.yellow {
	background-color: yellow;
}

.pink {
	background-color: #e92974;
	border: 1px solid black;
}
